<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZhiShiChanQuanPingTai">
    <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
    <test name="BusinessEnvironment "  verbose="1">
        <classes>
            <class name="com.testng.testcase.testLogin" />
            <class name="com.testng.testcase.testOneDateAttest" />
            <class name="com.testng.testcase.testTwoDataAttest" />
            <class name="com.testng.testcase.testThreeDateAttest" />
            <class name="com.testng.testcase.testFourDateAttest" />
            <class name = "com.testng.testcase.testOneProcessEvidence" />
            <class name = "com.testng.testcase.testTwoProcessEvidence" />
            <class name = "com.testng.testcase.testThreeProcessEvidence" />
            <class name = "com.testng.testcase.testFourProcessEvidence" />
            <class name="com.testng.testcase.testOneWebEvidence" />
        </classes>
    </test>
</suite>