<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MSP-WebUI-AutoTest">
    <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
    <test name="packeage"  verbose="1">
        <classes>
            <class name="com.testng.testcase.testLogin" />
            <class name="com.testng.testcase.testDateAttest" />
        </classes>
    </test>
</suite>